<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="FSTTests" parallel="classes">
    <test name="Activities">
        <classes>
            <class name="Activities.DemoOne"/>
            <class name="Activities.DemoTwo"/>
        </classes>
    </test>
</suite>